<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.editphoto.pack1.pack2">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicon"
        android:label="EditPhoto"
        android:roundIcon="@mipmap/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.editphoto.MainActivity"
            android:screenOrientation="portrait"
            android:label="EditPhoto">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity
            android:name="com.editphoto.CameraActivity"
            android:label="camera"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity android:name="com.editphoto.SimpleCameraGalleryDemo"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name="com.editphoto.DownloadedImageDisplay"
            android:screenOrientation="portrait"
            >

        </activity>

    </application>

</manifest>